@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Rubik;
  font-style: 14px;
  color: #616161;
}

/*--------------------*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 114px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__button {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 252px;
          flex: 0 0 252px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item {
  margin: 0px 40px 0px 0px;
}
.menu__link {
  font-family: "Raleway";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #000;
}

.button {
  display: inline-block;
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #fcfdfe;
  padding: 14px 30px;
  border-radius: 5px;
  background-color: #ec5863;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
.button:hover {
  background-color: rgb(255, 0, 119);
}
.button__blue {
  background-color: #4285f4;
}
.button__blue:hover {
  background-color: #4d75b4;
}

.close-icon-menu {
  display: none;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.get-started {
  background-color: #fafbfd;
}
.get-started__container {
  padding: 153px 15px 48px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.get-started__container::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 267px;
  top: 0;
  -webkit-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
  border-radius: 30px 0px 0px 30px;
  background-color: #ec5863;
}
.get-started__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  padding: 0px 20px;
}
.get-started__block-text {
  max-width: 410px;
}
.get-started__video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 60px 0px 0px 20px;
}
.get-started__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
  position: relative;
  z-index: 2;
}
.get-started__image img {
  max-width: 100%;
}

.block-text__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  color: #000;
}
.block-text__title span {
  color: #ec5863;
}
.block-text__title:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
.block-text__title-blue span {
  color: #4285f4;
}
.block-text__text {
  line-height: 138.5%;
}
.block-text__text:not(:last-child) {
  margin: 0px 0px 24px 0px;
}
.block-text__text-max {
  min-width: 620px;
  margin: 0px auto;
}
.block-text__center {
  text-align: center;
}

.video-get-started {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video-get-started__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
}
.video-get-started__body {
  padding: 0px 0px 0px 12px;
}
.video-get-started__title {
  color: #b0b0b0;
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 1.5px;
}
.video-get-started__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.video-get-started__text {
  text-transform: uppercase;
  font-size: 9px;
  color: #000;
  line-height: 126%;
  letter-spacing: 2px;
}

.stay-safe {
  padding: 80px 0px;
}
.stay-safe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stay-safe__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.stay-safe__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.media-stay-safe {
  width: 373px;
  padding: 56px 0px 27px 0px;
  text-align: center;
  position: relative;
}
.media-stay-safe__image {
  display: inline-block;
  -webkit-box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  position: relative;
  width: 61.5%;
}
.media-stay-safe__image img {
  position: relative;
  z-index: 5;
  max-width: 100%;
}
.media-stay-safe__image::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 12px;
  width: 206px;
  height: 27px;
  z-index: 2;
  background: rgba(240, 240, 240, 0.49);
  border-radius: 16px;
}
.media-stay-safe__item {
  position: absolute;
  background-color: #ec5863;
  border-radius: 30px;
  width: 77px;
  height: 77px;
}
.media-stay-safe__item-1 {
  top: 0;
  left: 0;
  width: 147px;
  height: 147px;
}
.media-stay-safe__item-2 {
  bottom: 0;
  left: 33px;
}
.media-stay-safe__item-3 {
  bottom: 107px;
  right: 34px;
}

.experts {
  background-color: #fafbfd;
  padding: 103px 15px 116px 15px;
}
.experts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.experts__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 20px 0px 0px;
}
.experts__block-text {
  max-width: 400px;
}
.experts__video {
  padding: 0px 0px 30% 0px;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  overflow: hidden;
}
.experts iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.statistics-experts {
  max-width: 655px;
  margin: 0px auto;
  position: relative;
}
.statistics-experts__body {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  position: relative;
  z-index: 2;
  margin: 0px 0px 80px 0px;
}
.statistics-experts__decor {
  position: absolute;
  background-color: #ec5863;
  border-radius: 30px;
}
.statistics-experts__decor1 {
  width: 65px;
  height: 65px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  bottom: -21px;
  left: -21px;
}
.statistics-experts__decor2 {
  width: 97px;
  height: 97px;
  right: 50%;
  top: -40px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}
.statistics-experts__decor3 {
  width: 128px;
  height: 128px;
  top: 0;
  right: -55px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.body-statistics-experts {
  padding: 25px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body-statistics-experts__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  text-align: center;
}
.body-statistics-experts__item:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.body-statistics-experts__value {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #ec5863;
  margin-bottom: 5px;
}
.body-statistics-experts__text {
  font-weight: 700;
  font-size: 11px;
  line-height: 1.8;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: fff;
}

.healthcare {
  padding: 80px 0px 30px 0px;
}
.healthcare__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 980px;
}
.healthcare__column {
  position: relative;
  padding: 0px 36px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.healthcare__column-1::before, .healthcare__column-1::after {
  content: "";
  position: absolute;
  background-color: #ec5863;
  border-radius: 16px;
}
.healthcare__column-1::before {
  width: 65px;
  height: 65px;
  bottom: -35px;
  left: 15px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.healthcare__column-1::after {
  width: 97px;
  height: 97px;
  top: 35px;
  right: -15px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  border-radius: 30px;
}
.healthcare__column-2::after {
  content: "";
  position: absolute;
  background-color: #ec5863;
  border-radius: 30px;
  width: 127px;
  height: 127px;
  bottom: 0px;
  right: -45px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.healthcare__column-3::after {
  content: "";
  position: absolute;
  background-color: #ec5863;
  border-radius: 16px;
  width: 65px;
  height: 65px;
  top: -30px;
  right: 15px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.healthcare__block-text {
  margin-bottom: 45px;
}

.item-healthcare {
  height: 100%;
  position: relative;
  z-index: 2;
  background: #fff;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 35px 17px;
}
.item-healthcare__icon {
  margin: 0px 0px 58px 0px;
}
.item-healthcare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 138.5%;
  color: #000;
  margin-bottom: 4px;
}
.item-healthcare__text {
  line-height: 138.5%;
}

.footer {
  padding: 40px 0px;
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__item {
  padding: 0px 28px;
}

[class*=__container] {
  max-width: 1057px;
  margin: 0px auto;
}

/* PC*/
@media (max-width: 1087px) {
  [classs*=__container] {
    min-width: 970px;
  }

  .healthcare__column {
    padding: 0px 15px;
  }
}
/* TABLET*/
@media (max-width: 991.98px) {
  [classs*=__container] {
    min-width: 750px;
  }

  .header__container {
    min-height: 80px;
  }

  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
  }

  .menu__item {
    margin: 0px 30px 0px 0px;
  }

  .get-started__container::before {
    right: 185px;
    border-radius: 20px 0px 0px 20px;
  }

  .stay-safe {
    padding: 40px 0px;
  }

  .healthcare {
    padding: 30px 0px;
  }
  .healthcare__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .healthcare__column:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (min-width: 991.98px) {
  .stay-safe__media {
    padding: 0px 0px 0px 47px;
  }
}
/* MOBILE*/
@media (max-width: 767.98px) {
  [classs*=__container] {
    min-width: none;
  }

  /*БУРГЕР без js*/
  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0px 0px 20px;
  }
  .icon-menu span {
    height: 2px;
    background-color: #ec5863;
  }
  .icon-menu::after, .icon-menu::before {
    content: "";
    background-color: #ec5863;
    height: 2px;
  }

  .close-icon-menu {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 30px;
    margin: 0px 0px 0px 20px;
  }
  .close-icon-menu::after, .close-icon-menu::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #ec5863;
    height: 2px;
  }
  .close-icon-menu::after {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  .close-icon-menu::before {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }

  .header:target .menu__body {
    left: 0;
  }
  .header:target .menu__body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #fff;
  }
  .header:target .icon-menu {
    display: none;
  }
  .header:target .close-icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #575a89;
    padding: 90px 15px 30px 15px;
    -webkit-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__item {
    margin: 0px 0px 25px 0px;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    color: #ec5863;
    font-size: 20px;
  }
  .menu__link:hover {
    text-decoration: underline;
  }

  .get-started__container {
    padding: 100px 15px 30px 15px;
  }
  .get-started__container::before {
    display: none;
  }
  .get-started__block-text {
    max-width: none;
  }
  .get-started__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0;
  }
  .get-started__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    padding: 30px 0px;
  }
  .get-started__video {
    padding: 0;
  }

  .block-text__title {
    font-size: 34px;
  }

  .stay-safe {
    padding: 30px 15px;
  }
  .stay-safe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .stay-safe__content {
    margin: 0px 0px 30px 0px;
  }

  .experts {
    padding: 80px 15px 30px 15px;
  }
  .experts__body {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .experts__video {
    padding: 0px 0px 58% 0px;
  }
  .experts__content {
    padding: 0;
    margin-bottom: 30px;
  }

  .statistics-experts__body {
    margin-bottom: 50px;
  }

  .body-statistics-experts {
    padding: 25px;
  }
}
@media (max-width: 479.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    overflow: hidden;
  }

  .media-stay-safe {
    width: 290px;
  }

  .body-statistics-experts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .body-statistics-experts__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .footer {
    padding: 10px 0px;
  }
  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*----------------------*/
.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}